html {
  background-color: #e6e6ff;
}

.primaryColor {
  background: linear-gradient(#400080, #6000BF);
}

.content {
  background-color: #ffffff;
}

.LinkedIn {
  color: #007bb5;
}

.GitHub {
  color: #000000;
}