@import "compass/css3"

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

#main {
    font-size: 100px;
    text-align: center;
    top: -10%;
}

.section_header {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}

.parallax {
    perspective: 100px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.parallax_layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -9px;

    img{
        display: block;
        position: absolute;
        bottom: 0;
    }
}

.parallax_layer_0 {
    transform: translateZ(-300px) scale(4)
}

.parallax_cover {
    background: #000000;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 2000px;
    z-index: 1;
}
